* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    background-color: #f1f1f1;
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 131, 86);
  }


  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    height: 75px;
    /* position: absolute;
    width: 98%;
    bottom: 0; */
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #000000;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.example button:hover {
    background: #424242;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .grid-container {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 3px;
    border: 1px solid rgba(100, 100, 100, 0.8);
    height: auto;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 2px 2px #888888;
  }

  .fill {
    margin: 10px;
    outline: 1px solid #CCC;
    background: #A00;
    color: #FFF;
    height: auto;
    overflow: auto;
  }

  .fill img {
    height: auto;
    display: block;
  }